<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Testsuite" verbose="2">
<test name = "testcases">
<classes>
<class name="testNG.driveacar"></class>
<class name = "testNG.TESTSUITE"></class>
<class name = "testNG.Skipacase"></class>


</classes>
</test>
</suite>
